.errorWrapper{
    display:flex;
    flex-direction: column;
    position: absolute;
  
    width: 500px;
    z-index: 100000;
}
.backdrop{
    background: grey;
    opacity: 0.5;
    width: 1100px;
    height: 970px;
    margin-top: -50%;
    margin-left: -50%;
    position: absolute;
}
.messageWrapper{
    background-color: white;
    height:33%;
}
.buttonWrapper{
    background-color: white;
    height: 33%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.headlineWrapper{
    background-color: purple;
    height:33%
}
.headlineError{
    color: white;
}

.errorButton{
    color: white;
    background-color: purple;
}