.listWrapp{
    display:flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    margin-top:5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}